<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div>
    
    <h1>{{ message }}</h1>
    <p>Weather for {{ city }}</p>
    <form method="POST"><!--When the user submits this form, send the data to the server using an HTTP POST request.-->
        <input type="text" name="city" placeholder="Enter a city">
        <button type="submit">Get Weather</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>

    {% elif temperature is not none %}
        <h3>In {{ city }}, it's currently {{ temperature }}°C 🌡️</h3>
    {% else %}
        <h3>Enter a location to get the current temperature🌎</h3>
    {% endif %}

</div>
